.dark .TEST_CARD_BOX{
    background-color: #F1F5F9;
}

.dark .TEST_CARD_BUTTON_EDDIT {
    background-color: #F1F5F9;
    color:#1E293B ;
}

.dark .TEST_CARD_BUTTON_DUPLICATE {
    background-color: #F1F5F9;
    color:#1E293B ;
}
.dark .TEST_CARD_DETAILS_COURSE {
    color: #1E293B;
}

.dark  .TEST_CARD_DETAILS_SMALL{
    color: #1E293B;
}