/* Profile container */
.profile_card_main {
  min-height: 73vh;

  padding-top: 150px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  position: relative; /* Added to position the edit button relative to the container */
  border-color: #7c4cee;
  box-shadow: 0 0px 10px gray;
}

.profile-header {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(255, 255, 255, 0.3);
  margin-top: -90px;
  box-shadow: 10px 15px 60px rgba(255, 255, 255, 0.1);
}

.plus-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.profile-details {
  margin-top: -40px;
}

.profile-email {
  font-size: 16px;
  color: black;
  margin-bottom: 5px;
}

.modallabel {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 15px;
}
.modallabel_input {
  width: 10px;
}
.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 50px;
  color: black;
}

.profile-mob {
  font-size: 18px;
  color: gray;
  margin-bottom: 15px;
}

/* Edit button */
.edit-button {
  background-color: #1e3a8a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #1e40af;
}

.dark .profile-card {
  background-color: #1f2937;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(250, 248, 248, 0.1);
  width: 50%;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  position: relative; /* Added to position the edit button relative to the container */
  border-color: #7c4cee;
  box-shadow: 0 0px 10px rgb(254, 253, 253);
}

.dark .plus-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.dark .profile-email {
  font-size: 16px;
  color: white;
  margin-bottom: 5px;
}

.dark .profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 50px;
  color: white;
}

.dark .profile-mob {
  font-size: 18px;
  color: #d3d3d3;
  margin-bottom: 15px;
}
.dark .edit-button {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.dark .edit-button:hover {
  background-color: #2563eb;
}
/* Modal styles */
.modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  align-items: center;
  box-shadow: 0 0px 10px rgb(96, 96, 96);
}

.overlay {
  background-color: #08080823;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.155);
}

/* Modal form styles */
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form label {
  margin-bottom: 10px;
  color: black;
}

.modal-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: rgba(220, 225, 230, 0.99);
  border: 1px solid #fffdfd;
  color: black;
  width: 100%;
  padding-right: 40px;
}

.modal-buttons {
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  background-color: #1e3a8a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons button:hover {
  background-color: #1e40af;
}

.dark .modal {
  background-color: #1f2937;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
  align-items: center;
  box-shadow: 0 0px 10px rgba(223, 222, 222, 0.552);
}

.dark .overlay {
  background-color: #010b1872;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(217, 217, 217, 0.144);
}

/* Modal form styles */

.dark .modal-form label {
  margin-bottom: 10px;
  color: white;
}

.dark .modal-form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #4c5666e4;
  border: 1px solid #fffdfd1b;
  color: rgba(255, 255, 255, 0.964);
  width: 100%;
  padding-right: 40px;
}
.dark .modal-buttons button {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.dark .modal-buttons button:hover {
  background-color: #2563eb;
}

.input-faded {
  opacity: 0.5;
  border: 1px solid red;
  position: relative;
}

.input-normal {
  opacity: 1;
  border: 1px solid #ccc;
  position: relative;
}
.password-field {
  position: relative;
  width: 100%; /* Set width to be the same as other inputs */
}

.eye-icon {
  position: absolute;
  right: 30px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}
.profile_edit_heading {
  font-size: 24px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .profile-card {
    width: 80%;
  }
  .modal {
    width: 90vw;
  }
}
