@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------Dont change anything here ------------------- */

/*---------------------- Light Theme--------------------*/
:root {
  --background-color: #f3f4f6;
  --container-color: #ffffff;
  --primary-button-color: #1e3a8a;
  --hover-button-color: #1c3aa9;
  --text-color: #000000;
}

/*-------------------- Dark Theme-------------------- */
html.dark {
  --background-color: #010b18;
  --container-color: #1f2937;
  --primary-button-color: #3b82f6;
  --hover-button-color: #2563eb;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
